body, html {
    height: 100%
}

body {
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #141416;
    color: #f4f5f6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.6rem;
    position: relative
}

@supports (display:grid) {
    body {
        display: block
    }
}

body.body--popup_open {
    overflow: hidden
}

.icon {
    fill: currentColor;
    display: block
}

.icon.icon--size_mod {
    height: 100%;
    width: 100%
}

@media screen and (min-width: 768px) {
    :root {
        --gl-indent: 2.4rem;
        --height-header: 9.2rem
    }
}

@media screen and (max-width: 767px) {
    :root {
        --gl-indent: 1.5rem;
        --height-header: 6rem
    }
}

@media screen and (min-width: 1200px) {
    html {
        font: 400 .6944444444vw/1.33 Roboto, sans-serif
    }
}

@media (max-width: 1199px)and (min-width: 375px) {
    html {
        font-size: 10px;
        font-family: Roboto, sans-serif;
    }
}

@media screen and (max-width: 374px) {
    html {
        font: 400 2.6666666667vw/1.33 Roboto, sans-serif
    }
}
