:root {
    --height-footer: 10rem
}

body, html {
    height: 100%
}

body {
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #141416;
    color: #f4f5f6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.6rem;
    position: relative
}

@supports (display:grid) {
    body {
        display: block
    }
}

body.body--popup_open {
    overflow: hidden
}

.preloader {
    background-color: #fff;
    height: 100vh;
    left: 0;
    opacity: 1;
    position: fixed;
    top: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    width: 100%;
    z-index: 1000
}

.body--loaded .preloader {
    opacity: 0;
    pointer-events: none
}

.wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto !important;
    min-height: 100%;
    overflow-x: hidden
}

.base, .wrapper {
    position: relative;
    width: 100%
}

.base {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    overflow: hidden;
    padding: var(--height-header) 0 0
}

.icon {
    fill: currentColor;
    display: block
}

.icon.icon--size_mod {
    height: 100%;
    width: 100%
}

.main_decor {
    opacity: .4;
    position: absolute
}

.main_decor.main_decor--pos_1_mod {
    z-index: -1
}

.main_decor.main_decor--pos_2_mod {
    z-index: -2
}

.main_decor.main_decor--pos_3_mod {
    z-index: -3
}

.main_decor.main_decor--pos_4_mod {
    z-index: -1
}

.main_decor.main_decor--pos_5_mod {
    z-index: -3
}

.main_decor.main_decor--pos_6_mod {
    z-index: -2
}

.main_decor__img {
    display: block;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    width: 100%
}

@media screen and (min-width: 768px) {
    :root {
        --gl-indent: 2.4rem;
        --height-header: 9.2rem
    }

    .main_decor.main_decor--pos_1_mod {
        height: 34.2rem;
        right: -30.3rem;
        top: 23rem;
        width: 43.8rem
    }

    .main_decor.main_decor--pos_2_mod {
        height: 26.3rem;
        right: -25rem;
        top: 41.5rem;
        width: 33.7rem
    }

    .main_decor.main_decor--pos_3_mod {
        height: 38rem;
        right: -37rem;
        top: 31.4rem;
        width: 49.7rem
    }

    .main_decor.main_decor--pos_4_mod {
        bottom: 1rem;
        height: 21.4rem;
        left: -10rem;
        -webkit-transform: matrix(-1, -.06, .07, -1, 0, 0);
        transform: matrix(-1, -.06, .07, -1, 0, 0);
        width: 27.4rem
    }

    .main_decor.main_decor--pos_5_mod {
        bottom: -6rem;
        height: 23.7rem;
        left: -9.8rem;
        width: 31.1rem
    }

    .main_decor.main_decor--pos_6_mod {
        bottom: -3rem;
        height: 16.5rem;
        left: -8.4rem;
        -webkit-transform: matrix(.97, .24, -.29, .96, 0, 0);
        transform: matrix(.97, .24, -.29, .96, 0, 0);
        width: 21.1rem
    }

    .main_decor {
        -webkit-filter: blur(10rem);
        filter: blur(10rem)
    }

    .header__in {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        padding: 2.4rem var(--gl-indent)
    }

    .header__logo {
        left: 50%;
        position: absolute;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 22.2rem
    }

    .hero {
        padding: 3.9rem 4.2rem
    }

    .hero__head:not(:last-child) {
        margin-bottom: 2.5rem
    }

    .hero__title {
        font-size: 4rem;
        line-height: 1.2;
        padding: 0 2.5rem
    }

    .hero__head_decor {
        height: 4.5rem;
        width: 3.6rem
    }

    .ui_form__item:not(.ui_form__item--full_mod) {
        width: 50%
    }

    .ui_form__item.ui_form__item--full_mod {
        width: 100%
    }
}

@media screen and (max-width: 767px) {
    :root {
        --gl-indent: 1.5rem;
        --height-header: 6rem
    }

    .base {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse
    }

    .main_decor.main_decor--pos_1_mod {
        height: 10.7rem;
        right: -9rem;
        top: 19.1rem;
        width: 12.8rem
    }

    .main_decor.main_decor--pos_2_mod {
        height: 8.2rem;
        right: -7rem;
        top: 24.5rem;
        width: 10rem
    }

    .main_decor.main_decor--pos_3_mod {
        height: 11.9rem;
        right: -11rem;
        top: 21.6rem;
        width: 14.6rem
    }

    .main_decor.main_decor--pos_4_mod {
        bottom: 44.5%;
        height: 10.7rem;
        left: -4rem;
        width: 13.7rem
    }

    .main_decor.main_decor--pos_5_mod {
        bottom: 41%;
        height: 11.9rem;
        left: -3.8rem;
        width: 15.6rem
    }

    .main_decor.main_decor--pos_6_mod {
        bottom: 42%;
        height: 8.2rem;
        left: -2.4rem;
        width: 10.6rem
    }

    .main_decor {
        -webkit-filter: blur(5rem);
        filter: blur(5rem)
    }

    .header__in {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 1rem var(--gl-indent)
    }

    .header__logo {
        margin-right: 2rem;
        width: 14.8rem
    }

    .hero {
        padding: 2.5rem
    }

    .hero__head:not(:last-child) {
        margin-bottom: 3rem
    }

    .hero__title {
        font-size: 2.5rem;
        line-height: 1;
        padding: 0 1rem
    }

    .hero__head_decor {
        height: 2.5rem;
        width: 2rem
    }

    .ui_form__item {
        width: 100%
    }
}

@media screen and (min-width: 1200px) {
    html {
        font: 400 .6944444444vw/1.33 Roboto, sans-serif
    }
}

@media (max-width: 1199px)and (min-width: 375px) {
    html {
        font-size: 10px;
        font-family: Roboto, sans-serif;
    }
}

@media screen and (max-width: 374px) {
    html {
        font: 400 2.6666666667vw/1.33 Roboto, sans-serif
    }
}
