.popup {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    background-color: rgba(53, 57, 69, .9);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    opacity: 0;
    overflow-y: auto;
    pointer-events: none;
    position: fixed;
    top: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    width: 100%;
    z-index: -100
}

.popup.active_state {
    opacity: 1;
    pointer-events: auto;
    z-index: 100
}

.popup__in {
    width: 100%;
}

#popup_login .popup__in {
    width: 35.5rem;
    height: 28.4rem;
}

#popup_registration .popup__in {
    width: 77rem;
    height: 60rem;
}

@media screen and (min-width: 768px) {
    .popup {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 6rem var(--gl-indent)
    }

    .popup__in {
        margin: auto;
    }
}

@media screen and (max-width: 767px) {
    .popup {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        padding: 1rem
    }

    .popup__in {
        margin-top: auto;
    }
}
